* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-image: url(https://www.thoughtco.com/thmb/g8h6NnWWWVkm-KXNBgMx-0Edd2U=/1500x0/filters:no_upscale(

    ):max_bytes(150000):strip_icc()/GettyImages_482194715-56a1329e5f9b58b7d0bcf666.jpg);
}
h1 {
  padding: 10px;
  text-align: center;
}

form {
  background-image: linear-gradient(pink, aquamarine);
  background-color: antiquewhite;
  width: fit-content;
  margin: 20px auto;
  padding: 30px;
}

label {
  display: inline-block;

  width: 100px;
}

.gender-div {
  display: inline-block;
}
.gender-div label {
  width: auto;
  width: auto;
  margin-right: 10px;
}
.inputs {
  border-radius: 5px;
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.radio-check {
  margin-bottom: 20px;
}
.btn-container {
  text-align: center;
}
.btn-container input {
  width: 100px;
  border-radius: 10px;
  border: none;
  background-color: palevioletred;
  padding: 10px;
}
.btn-container input:hover {
  background-color: purple;
  color: aliceblue;
  font-weight: 700;
  cursor: pointer;
}
.textarea-div * {
  vertical-align: middle;
}
